html,
body {
  background-color: #fff;
  color: #ECB390;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

footer {
  background: #eee;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 50px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding: 12px 0;
  color: #ECB390;
}

.wrapper {
  max-width: 1140px;
  padding: 10px;
  margin: 20px auto;
}

.loginBtn {
  padding: 20px;
  border-radius: 20px;
  font-size: 25px;
  color: #fff;
  border: none;
  background-color: #ECB390;
  transition: all ease 0.3ms;
  cursor: pointer;
}

.loginBtn:hover {
  padding: 20px;
  border-radius: 20px;
  font-size: 25px;
  color: #ECB390;
  background-color: #fff;
  border: #ECB390 solid 1px;
  width: 120px;
}

input {
  border: #ECB390 solid 1px;
  padding: 20px;
}

label {
  display: flex;
  padding: 20px;
}

.btn {
  display: block;
  margin-left: 180px;
  border-radius: 20px;
  font-size: 25px;
  color: #fff;
  border: none;
  background-color: #ECB390;
  transition: all ease 0.3ms;
  cursor: pointer;
}

.logo {
  width: 100px;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
}

.chat-row {
  margin: 50px;
}

.chat-user-list {
  list-style: none;
  border: 1px solid #daccc9;
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  box-shadow: 7px 12px 33px -11px rgba(192, 165, 158, 0.77);
}

.users {
  display: flex;
  font-size: 24px;
  justify-content: center;
}

.users h5 {
  padding-left: 20px;
  font-size: 24px;
}

.chat-image, .chat-name {
  display: inline-block;
  color: grey;
}

.chat-user-list {
  display: flex;
  flex-direction: column;
}

.chat-user-list.active {
  background: #e4e4e4;
}

.user-status-icon {
  position: absolute;
  margin-top: 5px;
  left: 300px;
  color: grey;
}

.chat-image {
  background-color: #DF7861;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50%;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.chat-header {
  min-height: 60px;
  padding: 10px;
  margin-bottom: 2px;
  background: #ffffff;
}

.chat-body {
  height: calc(100vh - 375px);
  background: #ffffff;
  padding: 30px 50px;
  margin-bottom: 20px;
  position: relative;
}

.message-text {
  margin-left: 45px;
  margin-top: -10px;
}

.chat-input {
  border: 1px solid lightgray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 8px 10px;
}

.chat-input-toolbar {
  display: flex;
  border-left: 1px solid rgb(220, 218, 218);
  border-right: 1px solid rgb(220, 218, 218);
  border-bottom: 1px solid rgb(220, 218, 218);
  margin-bottom: 10px;
}

.chat-input-toolbar button {
  justify-content: center;
  margin: 20px;
  font-size: 18px;
}

.container {
  background-color: rgb(255, 255, 255);
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 50%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
  margin: 10px;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #DF7861 none repeat scroll 0 0;
  border-radius: 3px;
  color: #f5f5f5;
  font-size: 14px;
  margin: 10px;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 10px 0 0;
  margin-left: 15px;
}

.received_withd_msg {
  width: 57%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

.sent_msg p {
  background: #c4c4c4 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #DF7861 none repeat scroll 0 0;
  border: medium none;
  border-radius: 10%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 6px;
  width: 100px;
}

.msg_history {
  height: 516px;
  width: 100%;
  overflow-y: auto;
}
